<div class="text-layout">
  <h1>Basic Pipes</h1>
  <p>Pipes included in Angular - Usually in the Common Module</p>
</div>

<!-- Flex v.3 "grid" NO "p-grid"-->
<div class="grid text-layout">
  <div class="col-4">
    <p-card header="nameUpper" [subheader]="nameLower | uppercase">
      {{ nameUpper | uppercase}}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="lowercase" [subheader]="nameLower">{{ nameLower | lowercase }}</p-card>
  </div>
  <div class="col-4">
    <p-card header="titleCase" [subheader]="nameComplete | titlecase">{{ nameComplete | titlecase }}</p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Date | Date | Pipe</h1>

  <div class="grid text-layout">

    <div class="col-6">
      <p-card header="Sintaxis">
        <ul>
          <li>date</li>
          <li>date | date</li>
          <li>date | date: short</li>
          <li>date | date: long</li>
          <li>date | date: yyyy - MMMMM - d</li>
        </ul>

        <hr>
        <ul>
          <li>date | date:'long':'GMT-6' </li>
          <li>date | date:'long':'GMT-4' </li>
          <li>date | date:'long':'':'es-MX'</li>
        </ul>
      </p-card>
    </div>

    <div class="col-6">
      <p-card header="Result">
        <ul>
          <li>{{ date }}</li>
          <li>{{ date | date }}</li>
          <!--utiliza el formato 'corto' -->
          <li>{{ date | date:'short' }}</li>
          <!--utiliza el formato 'largo' -->
          <li>{{ date | date:'long' }}</li>
          <!--custom format -->
          <li>{{ date | date:'yyyy - MMMMM - d'}}</li>
        </ul>

        <hr>
        <ul>
          <li>{{ date | date:'long':'GMT-6' }}</li>
          <li>{{ date | date:'long':'GMT-4' }}</li>
          <li>{{ date | date:'long':'':'es-MX' }}</li>
        </ul>
      </p-card>
    </div>

  </div>
</div>

<a href="https://angular.io/api/common/DatePipe">To know more...</a>